@font-face {
    font-family: myfont2;
    src: url(Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: myfont2;
    src: url(Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}